body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-color: #050608;
}
#timerContainer {
  
  text-align: center; 
  padding: 30px;
  background-color: #050608;
  color: #fff;
  border-radius: 15px;
  font-size: 5rem;
  width: 540px;
  user-select: none;
}

.timerButton {
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid white;
    background-color: #24252a; 
    cursor: pointer;
    font-size: 1.4rem;
}

#timerDisplay {
    margin: 20px;
}